[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = git@github.com:onsi/ginkgo
[submodule "src/github.com/pivotal-cf-experimental/replication-canary"]
	path = src/github.com/pivotal-cf-experimental/replication-canary
	url = git@github.com:pivotal-cf-experimental/replication-canary
[submodule "src/github.com/pivotal-cf-experimental/notifications-client"]
	path = src/github.com/pivotal-cf-experimental/notifications-client
	url = git@github.com:pivotal-cf-experimental/notifications-client.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://go.googlesource.com/tools
