config/dev.yml
config/private.yml
/*.yml
releases/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea/
*.iml
releases/**/*.tgz
.idea
.DS_Store
*.swp
*~
*#
#*
bin/
pkg/
*.iml
.manifests
manifest-generation/bosh-lite-stubs/property-overrides-monitoring.yml
