[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = git@github.com:onsi/ginkgo
[submodule "src/github.com/pivotal-cf-experimental/notifications-client"]
	path = src/github.com/pivotal-cf-experimental/notifications-client
	url = git@github.com:pivotal-cf-experimental/notifications-client.git
[submodule "src/github.com/pivotal-cf/mysql-diag"]
	path = src/github.com/pivotal-cf/mysql-diag
	url = git@github.com:pivotal-cf/mysql-diag
[submodule "src/github.com/pivotal-cf/mysql-diag-agent"]
	path = src/github.com/pivotal-cf/mysql-diag-agent
	url = git@github.com:pivotal-cf/mysql-diag-agent
[submodule "src/github.com/pivotal-cf-experimental/mysql-metrics"]
	path = src/github.com/pivotal-cf-experimental/mysql-metrics
	url = git@github.com:pivotal-cf-experimental/mysql-metrics.git
